* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  background-color: aqua;
  color: azure;
  padding: 8px;
  text-decoration: none;
  margin-right: 8px;
  border-radius: 8px;
}